USE [Superstore]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ryan Michael
-- Create date: 5/31/2026
-- Update date: 
-- Description:	Get all orders for customer
-- EXEC GetCustomerOrders @CustomerID = 1
-- =============================================
CREATE PROCEDURE [dbo].[GetCustomerOrders]
	@CustomerID INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		SELECT TOP 100 OrderID,
		OrderDate,
		SalesPrice,
		Quantity,
		Discount,
		Profit,
		s.ShipMode,
		ShipDate
		FROM dbo.[Order] AS o
		JOIN dbo.ShipMode AS s
		ON o.ShipModeID = s.ShipModeID
		WHERE CustomerID = @CustomerID AND IsActive = 1
	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH
END